<style>
	.modal {
    	overflow-y:auto;
	}
	body:not(.modal-open){
    	padding-right: 0px !important;
	}
	.e:hover{
        background-color:#F5F5F5;
	}
	.text-center{
		text-align: center;
	}
	.ui-autocomplete{
		max-height: 250px;
		max-width: 350px;
		overflow-y: auto;
		overflow-x: hidden;
		position: absolute;
		cursor: default;
		z-index: 4000 !important;
	}
	.ui-autocomplete-loading {
		background: white assets('../../assets/gif/anim_basic_16x16.gif') right center no-repeat;
	}
	.table-border{
		border-right: 2px solid #EEEEEE; 
		border-left: 2px solid #EEEEEE;
		border-bottom: 2px solid #EEEEEE;
	}
	.text-size{
		font-size: 13px;
	}
</style>