<style>
	.modal {
    	overflow-y:auto;
	}
	body:not(.modal-open){
    	padding-right: 0px !important;
	}
	.e:hover{
        background-color:#F5F5F5;
	}
	.text-center{
		text-align: center;
	}
	.ui-autocomplete{
		position:absolute;
		cursor:default;
		z-index:4000 !important
	}
</style>